.container {}

.registro {
    align-items: center;
    margin-top: 5px;
    margin-left: 50px;
    padding: 30px;
    border-radius: 5%;
    justify-content: center;
    font-family: Poppins;
}

#btn-registro {
    background-color: #224D32;
    opacity: 81%;
    border: none;
    width: 300px;
    margin-left: 10px;
}

#btn-registro:hover {
    background-color: rgb(0, 125, 151);
}

select {
    width: 320px;
    height: 35px;
}

input {
    width: 320px;
    height: 35px;
}

img {
    width: 550px;
    height: 500px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.titulo {
    text-align: center;
    text-shadow: lightslategray;
    font-size: 25px;
    font-weight: bold;
}

.imagen {
    width: 100vh;
    margin-top: 5%;
}

.logo {
    width: 200px;
    height: 5px;
    justify-content: left;
}