<app-navbar></app-navbar>
<div class="container d-flex">
    <div class=" imagen col-7">
        <img src="assets/img/43071.jpg" alt="">
    </div>
    <div class="row justify-content-center"></div>
    <div class="col-5">
        <div class="registro form-group">
            <p class="titulo">REGISTRO</p>
            <p>Nombre Completo</p>
            <input type="text" name="" id="" class="form-control">
            <p>Correo</p>
            <input type="text" name="" id="" class="form-control">
            <p>Institución</p>
            <select class="form-control">
                <option value="">SSA</option>
                <option value="">IMSS</option>
                <option value="">ISSSTE</option>
                <option value="">Otra</option>
            </select>

            <p>Grado de estudios</p>
            <select class="form-control">
                <option value="">Primaria</option>
                <option value="">Secundaria</option>
                <option value="">Preparatoria</option>
                <option value="">Licenciatura</option>
                <option value="">Maestría</option>
                <option value="">Doctorado</option>
            </select>

            <p>Función que desempeña en la institución</p>
            <select class="form-control">
                <option value="">Médico</option>
                <option value="">Enfermero</option>
                <option value="">Químico</option>
                <option value="">Dentista</option>
                <option value="">Trabajador Social</option>
                <option value="">Administrativo</option>
                <option value="">Promotor</option>
                <option value="">Vector</option>
                <option value="">Otro</option>
            </select>
            <br>
            <button type="button" class="btn btn-primary" id="btn-registro">Registrarse</button>
        </div>
    </div>
</div>