<app-navbar></app-navbar>
<div class="container">
    <div class="row">


        <div class=" imagen col-7 d-none d-lg-block">
            <img src="assets/img/43071.jpg" alt="">
        </div>
        <div class="col-lg-5 col-md-12">
            <div class="inicio">
                <form class="login" [formGroup]="">
                    <h1 class="titulo">INICIO DE SESIÓN</h1>
                    <h3 class="titulo2">Solo para el administrador</h3>
                    <div class="info">
                        <div class="form-group">
                            <label for="">Correo</label>
                            <input type="text" name="" id="" formControlName="nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Contraseña</label>
                            <input type="text" name="" id="" formControlName="contrasena" class="form-control">
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-registro"> INICIAR SESION </button>
                    <br>
                    <label for="" class="o"> Ó </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-registro"> CONTESTAR ENCUESTA </button>
                </form>
            </div>
        </div>
    </div>
</div>