<app-navbar2></app-navbar2>
<div class="container d-flex">
    <div class="general">
        <form class="row justify-content-between" [formGroup]="formCuestionario">
            <div class="col-6">
                <p class="preguntas"><strong>1.- Datos Clínicos.</strong> <br>
                    <label><input type="radio" value="1" name="pregs" > Fiebre, dolor de cabeza, dificultad para respirar</label><br>
                    <label><input type="radio" value="2" name="pregs"> Fiebre, dolor de cabeza, fatiga, dolor de garganta, dolor ocular</label><br>
                    <label><input type="radio" value="3" name="pregs"> Fiebre, dolor de cabeza, fatiga, dolor de articulaciones</label><br>
                    <label><input type="radio" value="4" name="pregs"> Fiebre, dolor de cabeza, fatiga, dolor muscular, dolor abdominal</label><br>
                </p>

                <p class="preguntas"><strong>3.- Datos que se observaron en la fase crítica.</strong>
                    <label><input type="radio" value="1" name="pregs3" > Disminución de temperatura, aumento de plaquetas, aumento de hematocríto.</label><br>
                    <label><input type="radio" value="2" name="pregs3"> Aumento de temperatura, disminución de plaquetas, disminución de jematocinto</label><br>
                    <label><input type="radio" value="3" name="pregs3"> Disminución de temperatura, aumento de hematocinto, disminución de plaquetas</label><br>
                    <label><input type="radio" value="4" name="pregs3"> Aumento de temperatura, aumento de paquetas, aumento de hematocinto</label><br>
                </p>

                <p class="preguntas"> <strong>5.- Manejo inicial de paciente con signos de dengue grave.</strong>
                    <label><input type="radio" value="1" name="pregs5" > Iniciar con solución cristaloide de 7 - 10 cc/Kg/h</label><br>
                    <label><input type="radio" value="2" name="pregs5"> Iniciar con solución cristaloide de 2 – 3 cc/kg/h</label><br>
                    <label><input type="radio" value="3" name="pregs5"> Iniciar con solución coloide de 7 – 10 cc/kg/h</label><br>
                    <label><input type="radio" value="4" name="pregs5"> Iniciar con solución coloide de 10 – 20 cc/kg/h </label><br>
                </p>

                <p class="preguntas"> <strong>7.- Criterios para bajar a grupo B1.</strong>
                    <label><input type="radio" value="1" name="pregs7" > Orina al menos una vez cada 6 hrs, tolera volumen de líquidos vía oral.</label><br>
                    <label><input type="radio" value="2" name="pregs7"> Embarazada, asmático, asmática, menor de 1 año</label><br>
                    <label><input type="radio" value="3" name="pregs7"> Orina al menos una vez cada 6 hrs, vomito persistente</label><br>
                    <label><input type="radio" value="4" name="pregs7"> Embarazada, taquicardia, llenado capilar menor a 3 segundos</label><br>
                </p>

                <p class="preguntas"> <strong>9.- Los nebulizadores por parte del área de vectores son a una velocidad de vehículo de:</strong><br>
                    <label><input type="radio" value="1" name="pregs9" > 20 km/h</label><br>
                    <label><input type="radio" value="2" name="pregs9"> 10 km/h</label><br>
                    <label><input type="radio" value="3" name="pregs9"> 30 km/h</label><br>
                    <label><input type="radio" value="4" name="pregs9"> 35 km/h</label><br>
                </p>
            </div>
            <div class="col-6">
                <p class="preguntas"> <strong>2.- Tiempo que dura la fase de febril de dengue.</strong> <br>
                    <label><input type="radio" value="1" name="pregs2" > 1 a 2 días</label><br>
                    <label><input type="radio" value="2" name="pregs2"> 5 a 7 días</label><br>
                    <label><input type="radio" value="3" name="pregs2"> 2 a 4 días</label><br>
                    <label><input type="radio" value="4" name="pregs2"> 1 a 4 días</label><br>
                </p>

                <p class="preguntas"> <strong>4.- Cuadro clínico de dengue no grave con signos de alarma.</strong> <br>
                    <label><input type="radio" value="1" name="pregs4" > Fiebre, leucopenia, torniquete (+)</label><br>
                    <label><input type="radio" value="2" name="pregs4"> Fiebre, torniquete (+), aumento de hematocinto, vómito percistente</label><br>
                    <label><input type="radio" value="3" name="pregs4"> Torniquete (+), exanterna, leucopenia</label><br>
                    <label><input type="radio" value="4" name="pregs4"> Torniquete (+), derrame pericardiaco, llenado capilar mayor a 5 segundos</label><br>
                </p>
                <br>
                <p class="preguntas"> <strong>6.- Manejo de paciente con mejoría.</strong> <br>
                    <label><input type="radio" value="1" name="pregs6" > Iniciar reduciendo cristaloides de 3 – 5 cc/kg/h por 2 – 4 hrs</label><br>
                    <label><input type="radio" value="2" name="pregs6"> Iniciar reduciendo cristaloides de 2 – 3 cc/kg/h por 2 – 4 hrs</label><br>
                    <label><input type="radio" value="3" name="pregs6"> Iniciar reduciendo cristaloides 5 – 7 cc/kg/h por 1- 2 hrs</label><br>
                    <label><input type="radio" value="4" name="pregs6"> Iniciar reduciendo cristaloides 5 – 7 cc/kg/h por 3 – 4 hrs</label><br>
                </p>

                <p class="preguntas"> <strong>8.- El manejo del grupo A es hospitalario.</strong> <br>
                    <label><input type="radio" value="1" name="pregs8" > Verdadero</label><br>
                    <label><input type="radio" value="2" name="pregs8"> Falso</label><br>

                </p>
                <br>
                <br>
                <p class="preguntas"> <strong>10.- Los métodos de control del vector en su fase acuática son únicamente bilógico y físico.</strong> <br>
                    <label><input type="radio" value="1" name="pregs10" > Verdadero</label><br>
                    <label><input type="radio" value="2" name="pregs10"> Falso</label><br>

                </p>

            </div>
        </form>´
    </div>

</div>
<div class="row justify-content-center">
    <button class="boton btn btn-primary ">Enviar</button>
</div>