<app-navbar2></app-navbar2>
<div class="container d-flex mt-4">
    <div class="general">
        <form class="row justify-content-between" [formGroup]="formCuestionario">
            <div class="col-md-6 col-12">
                <p class="preguntas"><strong>1.- Datos Clínicos.</strong> <br>
                    <label><input type="radio" value="2" formControlName="respuesta1"> Fiebre, dolor de cabeza, dificultad para respirar</label><br>
                    <label><input type="radio" value="3" formControlName="respuesta1"> Fiebre, dolor de cabeza, fatiga, dolor de garganta, dolor ocular</label><br>
                    <label><input type="radio" value="4" formControlName="respuesta1"> Fiebre, dolor de cabeza, fatiga, dolor de articulaciones</label><br>
                    <label><input type="radio" value="1" formControlName="respuesta1"> Fiebre, dolor de cabeza, fatiga, dolor muscular, dolor abdominal</label><br>
                </p>

                <p class="preguntas"><strong>3.- Datos que se observaron en la fase crítica.</strong>
                    <label><input type="radio" value="2" formControlName="respuesta3"> Disminución de temperatura, aumento de plaquetas, aumento de hematocríto.</label><br>
                    <label><input type="radio" value="3" formControlName="respuesta3"> Aumento de temperatura, disminución de plaquetas, disminución de jematocinto</label><br>
                    <label><input type="radio" value="1" formControlName="respuesta3"> Disminución de temperatura, aumento de hematocinto, disminución de plaquetas</label><br>
                    <label><input type="radio" value="4" formControlName="respuesta3"> Aumento de temperatura, aumento de paquetas, aumento de hematocinto</label><br>
                </p>

                <p class="preguntas"> <strong>5.- Manejo inicial de paciente con signos de dengue grave.</strong>
                    <label><input type="radio" value="4" formControlName="respuesta5"> Iniciar con solución cristaloide de 7 - 10 cc/Kg/h</label><br>
                    <label><input type="radio" value="3" formControlName="respuesta5"> Iniciar con solución cristaloide de 2 – 3 cc/kg/h</label><br>
                    <label><input type="radio" value="2" formControlName="respuesta5"> Iniciar con solución coloide de 7 – 10 cc/kg/h</label><br>
                    <label><input type="radio" value="1" formControlName="respuesta5"> Iniciar con solución coloide de 10 – 20 cc/kg/h </label><br>
                </p>

                <p class="preguntas"> <strong>7.- Criterios para bajar a grupo B1.</strong>
                    <label><input type="radio" value="2" formControlName="respuesta7"> Orina al menos una vez cada 6 hrs, tolera volumen de líquidos vía oral.</label><br>
                    <label><input type="radio" value="1" formControlName="respuesta7"> Embarazada, asmático, asmática, menor de 1 año</label><br>
                    <label><input type="radio" value="3" formControlName="respuesta7"> Orina al menos una vez cada 6 hrs, vomito persistente</label><br>
                    <label><input type="radio" value="4" formControlName="respuesta7"> Embarazada, taquicardia, llenado capilar menor a 3 segundos</label><br>
                </p>

                <p class="preguntas"> <strong>9.- Los nebulizadores por parte del área de vectores son a una velocidad de vehículo de:</strong><br>
                    <label><input type="radio" value="2" formControlName="respuesta9"> 20 km/h</label><br>
                    <label><input type="radio" value="1" formControlName="respuesta9"> 10 km/h</label><br>
                    <label><input type="radio" value="4" formControlName="respuesta9"> 30 km/h</label><br>
                    <label><input type="radio" value="3" formControlName="respuesta9"> 35 km/h</label><br>
                </p>
            </div>
            <div class="col-md-6 col-12">
                <p class="preguntas"> <strong>2.- Tiempo que dura la fase de febril de dengue.</strong> <br>
                    <label><input type="radio" value="2" formControlName="respuesta2"> 1 a 2 días</label><br>
                    <label><input type="radio" value="1" formControlName="respuesta2"> 5 a 7 días</label><br>
                    <label><input type="radio" value="3" formControlName="respuesta2"> 2 a 4 días</label><br>
                    <label><input type="radio" value="4" formControlName="respuesta2"> 1 a 4 días</label><br>
                </p>

                <p class="preguntas"> <strong>4.- Cuadro clínico de dengue no grave con signos de alarma.</strong> <br>
                    <label><input type="radio" value="2" formControlName="respuesta4"> Fiebre, leucopenia, torniquete (+)</label><br>
                    <label><input type="radio" value="1" formControlName="respuesta4"> Fiebre, torniquete (+), aumento de hematocinto, vómito percistente</label><br>
                    <label><input type="radio" value="3" formControlName="respuesta4"> Torniquete (+), exanterna, leucopenia</label><br>
                    <label><input type="radio" value="4" formControlName="respuesta4"> Torniquete (+), derrame pericardiaco, llenado capilar mayor a 5 segundos</label><br>
                </p>
                <br>
                <p class="preguntas"> <strong>6.- Manejo de paciente con mejoría.</strong> <br>
                    <label><input type="radio" value="4" formControlName="respuesta6"> Iniciar reduciendo cristaloides de 3 – 5 cc/kg/h por 2 – 4 hrs</label><br>
                    <label><input type="radio" value="3" formControlName="respuesta6"> Iniciar reduciendo cristaloides de 2 – 3 cc/kg/h por 2 – 4 hrs</label><br>
                    <label><input type="radio" value="1" formControlName="respuesta6"> Iniciar reduciendo cristaloides 5 – 7 cc/kg/h por 1- 2 hrs</label><br>
                    <label><input type="radio" value="2" formControlName="respuesta6"> Iniciar reduciendo cristaloides 5 – 7 cc/kg/h por 3 – 4 hrs</label><br>
                </p>

                <p class="preguntas"> <strong>8.- El manejo del grupo A es hospitalario.</strong> <br>
                    <label><input type="radio" value="0" formControlName="respuesta8"> Verdadero</label><br>
                    <label><input type="radio" value="1" formControlName="respuesta8"> Falso</label><br>

                </p>
                <br>
                <br>
                <p class="preguntas"> <strong>10.- Los métodos de control del vector en su fase acuática son únicamente bilógico y físico.</strong> <br>
                    <label><input type="radio" value="0" formControlName="respuesta10"> Verdadero</label><br>
                    <label><input type="radio" value="1" formControlName="respuesta10"> Falso</label><br>
                </p>
            </div>
        </form>
    </div>

</div>
<div class="mb-5 text-center">
    <button (click)="verificarPuntos()" class="boton btn btn-primary" [disabled]="!formCuestionario.valid">Enviar</button>
</div>