.preguntas {
    margin-top: 50px;
    margin: 30px;
}

.general {
    border-radius: 15px;
    border-color: green;
    border-color: green;
    border: green 2px solid;
    margin-top: 50px;
}

.container {}

strong {
    color: #224D32;
}