/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Poppins;
    src: url('assets/fonts/Poppins-Regular.ttf');
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
.registro {
    align-items: center;
    margin-top: 5px;
    margin-left: 50px;
    padding: 30px;
    border-radius: 5%;
    justify-content: center;
    font-family: Poppins;
}

.login {
    align-items: center;
    margin-top: 5px;
    margin-left: 50px;
    padding: 30px;
    border-radius: 5%;
    justify-content: center;
    font-family: Poppins;
}

#btn-registro {
    background-color: #224D32;
    border: none;
    width: 300px;
}

#btn-registro:hover {
    background-color: rgb(0, 125, 151);
}

select {
    width: 320px;
    height: 35px;
}

input[text] {
    width: 320px;
    height: 35px;
}

.input-form {
    background-color: #d9e2f3;
}

img {
    width: 550px;
    height: 500px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.titulo {
    text-align: center;
    text-shadow: lightslategray;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #224D32;
}

.titulo2 {
    color: #224D32;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    text-shadow: lightslategray;
}

.logo {
    width: 200px;
    height: 5px;
    justify-content: left;
}

.imagen {
    width: 230px;
    height: 58px;
}

h2 {
    font-family: Poppins;
    color: #224D32;
}

.preguntas {
    margin-top: 50px;
    margin: 30px;
}

.general {
    border-radius: 15px;
    border-color: green;
    border-color: green;
    border: green 2px solid;
    margin-top: 50px;
}

strong {
    color: #224D32;
}

.boton {
    background-color: #224D32;
    width: 220px;
    font-size: 0.5cm;
    margin-top: 30px;
}

.o {
    font-family: Poppins;
    color: #224D32;
    align-items: center;
    margin-left: 50%;
    font-size: 20px;
    margin-top: 7px;
}

.card-estadisticas {
    background-color: #217F00;
    border-radius: 0.5em;
    color: white;
    transition: all 0.2s ease 0s;
}
.card-estadisticas h2 {
    color: white;
}
.card-estadisticas:hover {
    box-shadow: 0px 3px 5px #224D32;
}

.btn-primary {
    background-color: #217F00;
    border-color: #217F00;
    width: 100%;
}
.btn-primary:hover {
    background-color: #224D32;
    border-color: #224D32;
}

.icono {
    width: 30px;
    height: 30px;
}